<h3><%= facade.character_count %> members</h3>
<section class='members'>

<% facade.characters.each do |char| %>
  <ul class='character'>
    <li class='name'>Name: <%= char.name %></li>
    <li class='role'>Role: <%= char.role %></li>
    <li class='house'>House: <%= char.house %></li>
    <li class='patronus'>Patronus: <%= char.patronus %></li>
  </ul>
<% end %>
</section>
