<h3><%= facade.member_count %> Members</h3>
<section class='members'>

<% facade.members.each do |mem| %>
  <ul class='member'>
    <li class='name'><%= mem.name %></li>
    <li class='role'><%= mem.role %></li>
    <li class='house'><%= mem.house %></li>
    <li class='patronus'><%= mem.patronus %></li>
  </ul>
<% end %>
</section>
